main, h1{ padding: 1em;}

html{
  background-color: lightgray;
}

img{
  height: 10rem;
  width: auto;
  border-radius:10%;
  //box-shadow: 10px 5px 5px gray;
}

main p, header h1{
  color: orangered;
}
li{
  list-style-type: none;
}
img, nav ul li{
  box-shadow: 10px 5px 5px orange;
  
}
main p{
  background-color: gainsboro;
}

main li{
  border: thin solid black;
  padding: 1em;
  background-color: gainsboro;
}

footer{
  border: thin solid black;
}
